#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  #footert1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }
  #footert2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    margin-left: 20px;
    margin-right: 20px;
  }
.version u::before{
    content: "v1.4.7-alpha";
}
footer {
    background-color: #777;
    padding: 10px;
    text-align: left;
    text-indent: 10px;
    line-height: 250%;
  }